node_modules/
coverage/
e2e-coverage/
integration-coverage/
dist/
.husky/
.github/
prod/

logs/

.env.*

.git
.gitignore
.dockerignore
.eslintignore

.editorconfig
dockerfile
docker-compose.yml
cspell.json
README.md
nodemon.json
